* {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: antiquewhite;
    text-align: center;
    padding-top: 1rem;
}

.problema-input{
    width: 21rem;
}

footer, footer a{
    background-color: #000000;
}

.container-footer{
    box-shadow: 5px 5px 10px #00000080;
    width: 200px;
    margin: 3rem auto 3rem auto;
    text-align: center;
    padding: 10px;
    background-color: #000000;
}


.container-footer a{
    text-decoration: none;
    color: white;
}
.container-footer a:hover{
    transition: all 0.3s ease;
    font-size: 21px;
    padding-bottom: 3px;
}  